.layout{
    border: 1px solid black;
    margin: 1px;
    height: 340px;
    width: fit-content;
    background-color: lightblue;
}
.btnText{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.divbtn{
    width: 60px;
    height: 60px;
    border: 1px solid black;
    float: left;
    margin: 2px;
    background-color: white;
}
/* for wordlayout */
.wordlayout, .typinglayout{
    height: 120px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 2px;
    overflow-y: scroll;
}
.wordlayout p{
    padding: 5px;
}
.typinglayout{
    padding: 5px;
}
.typinglayout div {
    /* height: inherit; */
    border: none;
    padding: 5px
}